<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hgxh.trade.dao.StandardInformationsDao" >
    <resultMap id="BaseResultMap" type="com.hgxh.trade.entity.StandardInformationsEntity" >
        <id column="id" property="id" jdbcType="BIGINT" />
        <result column="version" property="version" jdbcType="INTEGER" />
        <result column="projectNo" property="projectNo" jdbcType="VARCHAR" />
        <result column="bidType" property="bidType" jdbcType="VARCHAR" javaType="com.hgxh.trade.enums.BidTypeEnum" />
        <result column="bidNo" property="bidNo" jdbcType="VARCHAR" />
        <result column="bidName" property="bidName" jdbcType="VARCHAR" />
        <result column="bidDescShort" property="bidDescShort" jdbcType="LONGVARCHAR" />
        <result column="bidDesc" property="bidDesc" jdbcType="LONGVARCHAR" />
        <result column="bidCustomNo" property="bidCustomNo" jdbcType="VARCHAR" />
        <result column="lowCustomNo" property="lowCustomNo" jdbcType="VARCHAR" />
        <result column="bidStatus" property="bidStatus" jdbcType="VARCHAR" javaType="com.hgxh.trade.enums.BidStatusEnum" />
        <result column="sortFlag" property="sortFlag" jdbcType="INTEGER" />
        <result column="financedAmount" property="financedAmount" jdbcType="DECIMAL" />
        <result column="financedShare" property="financedShare" jdbcType="INTEGER" />
        <result column="leastBuyShare" property="leastBuyShare" jdbcType="INTEGER" />
        <result column="cycle" property="cycle" jdbcType="INTEGER" />
        <result column="yield" property="yield" jdbcType="DECIMAL" />
        <result column="lowestYield" property="lowestYield" jdbcType="DECIMAL" />
        <result column="startDate" property="startDate" jdbcType="BIGINT" />
        <result column="endDate" property="endDate" jdbcType="BIGINT" />
        <result column="transferForbidPeriod" property="transferForbidPeriod" jdbcType="INTEGER" />
        <result column="openBidPeriod" property="openBidPeriod" jdbcType="INTEGER" />
        <result column="openEndDate" property="openEndDate" jdbcType="BIGINT" />
        <result column="guarantorCustomNo" property="guarantorCustomNo" jdbcType="VARCHAR" />
        <result column="permitTransferLastDate" property="permitTransferLastDate" jdbcType="BIGINT" />
        <result column="onlineDate" property="onlineDate" jdbcType="BIGINT" />
        <result column="createTime" property="createTime" jdbcType="BIGINT" />
        <result column="lastModifyTime" property="lastModifyTime" jdbcType="BIGINT" />
        <result column="use" property="use" jdbcType="LONGVARCHAR" />
        <result column="proxyCustomNo" property="proxyCustomNo" jdbcType="VARCHAR" />
        <result column="realFinancedAmount" property="realFinancedAmount" jdbcType="DECIMAL" />
        <result column="publishWay" property="publishWay" jdbcType="VARCHAR" javaType="com.hgxh.trade.enums.BidPublishWayEnum" />
        <result column="floatingrate" property="floatingrate" jdbcType="DECIMAL" />
        <result column="bidScene" property="bidScene" jdbcType="VARCHAR" />
        <result column="maxBuyShare" property="maxBuyShare" jdbcType="INTEGER" />
        <result column="lockState" property="lockState" jdbcType="VARCHAR" />
        <result column="advanceRepay" property="advanceRepay" jdbcType="VARCHAR" />
        <result column="penaltyType" property="penaltyType" jdbcType="VARCHAR" />
        <result column="advanceRepayTime" property="advanceRepayTime" jdbcType="BIGINT" />
        <result column="transferStatus" property="transferStatus" jdbcType="VARCHAR" />
    </resultMap>

    <sql id="Base_Column_List" >
        id, version, projectNo, bidType, bidNo, bidName, bidDescShort, bidDesc, bidCustomNo, 
        lowCustomNo, bidStatus, sortFlag, financedAmount, financedShare, leastBuyShare, cycle, 
        yield, lowestYield, startDate, endDate, transferForbidPeriod, openBidPeriod, openEndDate, 
        guarantorCustomNo, permitTransferLastDate, onlineDate, createTime, lastModifyTime, 
        `use`, proxyCustomNo, realFinancedAmount, publishWay, floatingrate, bidScene, maxBuyShare, 
        lockState, advanceRepay, penaltyType, advanceRepayTime, transferStatus
    </sql>

    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
        select 
        <include refid="Base_Column_List" />
        from zx_standard_informations
        where id = #{id,jdbcType=BIGINT}
    </select>

    <insert id="insertSelective" parameterType="com.hgxh.trade.entity.StandardInformationsEntity" >
        insert into zx_standard_informations
        <trim prefix="(" suffix=")" suffixOverrides="," >
            <if test="id != null" >
                id,
            </if>
            <if test="version != null" >
                version,
            </if>
            <if test="projectNo != null" >
                projectNo,
            </if>
            <if test="bidType != null" >
                bidType,
            </if>
            <if test="bidNo != null" >
                bidNo,
            </if>
            <if test="bidName != null" >
                bidName,
            </if>
            <if test="bidDescShort != null" >
                bidDescShort,
            </if>
            <if test="bidDesc != null" >
                bidDesc,
            </if>
            <if test="bidCustomNo != null" >
                bidCustomNo,
            </if>
            <if test="lowCustomNo != null" >
                lowCustomNo,
            </if>
            <if test="bidStatus != null" >
                bidStatus,
            </if>
            <if test="sortFlag != null" >
                sortFlag,
            </if>
            <if test="financedAmount != null" >
                financedAmount,
            </if>
            <if test="financedShare != null" >
                financedShare,
            </if>
            <if test="leastBuyShare != null" >
                leastBuyShare,
            </if>
            <if test="cycle != null" >
                cycle,
            </if>
            <if test="yield != null" >
                yield,
            </if>
            <if test="lowestYield != null" >
                lowestYield,
            </if>
            <if test="startDate != null" >
                startDate,
            </if>
            <if test="endDate != null" >
                endDate,
            </if>
            <if test="transferForbidPeriod != null" >
                transferForbidPeriod,
            </if>
            <if test="openBidPeriod != null" >
                openBidPeriod,
            </if>
            <if test="openEndDate != null" >
                openEndDate,
            </if>
            <if test="guarantorCustomNo != null" >
                guarantorCustomNo,
            </if>
            <if test="permitTransferLastDate != null" >
                permitTransferLastDate,
            </if>
            <if test="onlineDate != null" >
                onlineDate,
            </if>
            <if test="createTime != null" >
                createTime,
            </if>
            <if test="lastModifyTime != null" >
                lastModifyTime,
            </if>
            <if test="use != null" >
                `use`,
            </if>
            <if test="proxyCustomNo != null" >
                proxyCustomNo,
            </if>
            <if test="realFinancedAmount != null" >
                realFinancedAmount,
            </if>
            <if test="publishWay != null" >
                publishWay,
            </if>
            <if test="floatingrate != null" >
                floatingrate,
            </if>
            <if test="bidScene != null" >
                bidScene,
            </if>
            <if test="maxBuyShare != null" >
                maxBuyShare,
            </if>
            <if test="lockState != null" >
                lockState,
            </if>
            <if test="advanceRepay != null" >
                advanceRepay,
            </if>
            <if test="penaltyType != null" >
                penaltyType,
            </if>
            <if test="advanceRepayTime != null" >
                advanceRepayTime,
            </if>
            <if test="transferStatus != null" >
                transferStatus,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides="," >
            <if test="id != null" >
                #{id,jdbcType=BIGINT},
            </if>
            <if test="version != null" >
                #{version,jdbcType=INTEGER},
            </if>
            <if test="projectNo != null" >
                #{projectNo,jdbcType=VARCHAR},
            </if>
            <if test="bidType != null" >
                #{bidType,jdbcType=VARCHAR},
            </if>
            <if test="bidNo != null" >
                #{bidNo,jdbcType=VARCHAR},
            </if>
            <if test="bidName != null" >
                #{bidName,jdbcType=VARCHAR},
            </if>
            <if test="bidDescShort != null" >
                #{bidDescShort,jdbcType=LONGVARCHAR},
            </if>
            <if test="bidDesc != null" >
                #{bidDesc,jdbcType=LONGVARCHAR},
            </if>
            <if test="bidCustomNo != null" >
                #{bidCustomNo,jdbcType=VARCHAR},
            </if>
            <if test="lowCustomNo != null" >
                #{lowCustomNo,jdbcType=VARCHAR},
            </if>
            <if test="bidStatus != null" >
                #{bidStatus,jdbcType=VARCHAR},
            </if>
            <if test="sortFlag != null" >
                #{sortFlag,jdbcType=INTEGER},
            </if>
            <if test="financedAmount != null" >
                #{financedAmount,jdbcType=DECIMAL},
            </if>
            <if test="financedShare != null" >
                #{financedShare,jdbcType=INTEGER},
            </if>
            <if test="leastBuyShare != null" >
                #{leastBuyShare,jdbcType=INTEGER},
            </if>
            <if test="cycle != null" >
                #{cycle,jdbcType=INTEGER},
            </if>
            <if test="yield != null" >
                #{yield,jdbcType=DECIMAL},
            </if>
            <if test="lowestYield != null" >
                #{lowestYield,jdbcType=DECIMAL},
            </if>
            <if test="startDate != null" >
                #{startDate,jdbcType=BIGINT},
            </if>
            <if test="endDate != null" >
                #{endDate,jdbcType=BIGINT},
            </if>
            <if test="transferForbidPeriod != null" >
                #{transferForbidPeriod,jdbcType=INTEGER},
            </if>
            <if test="openBidPeriod != null" >
                #{openBidPeriod,jdbcType=INTEGER},
            </if>
            <if test="openEndDate != null" >
                #{openEndDate,jdbcType=BIGINT},
            </if>
            <if test="guarantorCustomNo != null" >
                #{guarantorCustomNo,jdbcType=VARCHAR},
            </if>
            <if test="permitTransferLastDate != null" >
                #{permitTransferLastDate,jdbcType=BIGINT},
            </if>
            <if test="onlineDate != null" >
                #{onlineDate,jdbcType=BIGINT},
            </if>
            <if test="createTime != null" >
                #{createTime,jdbcType=BIGINT},
            </if>
            <if test="lastModifyTime != null" >
                #{lastModifyTime,jdbcType=BIGINT},
            </if>
            <if test="use != null" >
                #{use,jdbcType=LONGVARCHAR},
            </if>
            <if test="proxyCustomNo != null" >
                #{proxyCustomNo,jdbcType=VARCHAR},
            </if>
            <if test="realFinancedAmount != null" >
                #{realFinancedAmount,jdbcType=DECIMAL},
            </if>
            <if test="publishWay != null" >
                #{publishWay,jdbcType=VARCHAR},
            </if>
            <if test="floatingrate != null" >
                #{floatingrate,jdbcType=DECIMAL},
            </if>
            <if test="bidScene != null" >
                #{bidScene,jdbcType=VARCHAR},
            </if>
            <if test="maxBuyShare != null" >
                #{maxBuyShare,jdbcType=INTEGER},
            </if>
            <if test="lockState != null" >
                #{lockState,jdbcType=VARCHAR},
            </if>
            <if test="advanceRepay != null" >
                #{advanceRepay,jdbcType=VARCHAR},
            </if>
            <if test="penaltyType != null" >
                #{penaltyType,jdbcType=VARCHAR},
            </if>
            <if test="advanceRepayTime != null" >
                #{advanceRepayTime,jdbcType=BIGINT},
            </if>
            <if test="transferStatus != null" >
                #{transferStatus,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>

    <update id="updateByPrimaryKeySelective" parameterType="com.hgxh.trade.entity.StandardInformationsEntity" >
        update zx_standard_informations
        <set >
            <if test="version != null" >
                version = #{version,jdbcType=INTEGER},
            </if>
            <if test="projectNo != null" >
                projectNo = #{projectNo,jdbcType=VARCHAR},
            </if>
            <if test="bidType != null" >
                bidType = #{bidType,jdbcType=VARCHAR},
            </if>
            <if test="bidNo != null" >
                bidNo = #{bidNo,jdbcType=VARCHAR},
            </if>
            <if test="bidName != null" >
                bidName = #{bidName,jdbcType=VARCHAR},
            </if>
            <if test="bidDescShort != null" >
                bidDescShort = #{bidDescShort,jdbcType=LONGVARCHAR},
            </if>
            <if test="bidDesc != null" >
                bidDesc = #{bidDesc,jdbcType=LONGVARCHAR},
            </if>
            <if test="bidCustomNo != null" >
                bidCustomNo = #{bidCustomNo,jdbcType=VARCHAR},
            </if>
            <if test="lowCustomNo != null" >
                lowCustomNo = #{lowCustomNo,jdbcType=VARCHAR},
            </if>
            <if test="bidStatus != null" >
                bidStatus = #{bidStatus,jdbcType=VARCHAR},
            </if>
            <if test="sortFlag != null" >
                sortFlag = #{sortFlag,jdbcType=INTEGER},
            </if>
            <if test="financedAmount != null" >
                financedAmount = #{financedAmount,jdbcType=DECIMAL},
            </if>
            <if test="financedShare != null" >
                financedShare = #{financedShare,jdbcType=INTEGER},
            </if>
            <if test="leastBuyShare != null" >
                leastBuyShare = #{leastBuyShare,jdbcType=INTEGER},
            </if>
            <if test="cycle != null" >
                cycle = #{cycle,jdbcType=INTEGER},
            </if>
            <if test="yield != null" >
                yield = #{yield,jdbcType=DECIMAL},
            </if>
            <if test="lowestYield != null" >
                lowestYield = #{lowestYield,jdbcType=DECIMAL},
            </if>
            <if test="startDate != null" >
                startDate = #{startDate,jdbcType=BIGINT},
            </if>
            <if test="endDate != null" >
                endDate = #{endDate,jdbcType=BIGINT},
            </if>
            <if test="transferForbidPeriod != null" >
                transferForbidPeriod = #{transferForbidPeriod,jdbcType=INTEGER},
            </if>
            <if test="openBidPeriod != null" >
                openBidPeriod = #{openBidPeriod,jdbcType=INTEGER},
            </if>
            <if test="openEndDate != null" >
                openEndDate = #{openEndDate,jdbcType=BIGINT},
            </if>
            <if test="guarantorCustomNo != null" >
                guarantorCustomNo = #{guarantorCustomNo,jdbcType=VARCHAR},
            </if>
            <if test="permitTransferLastDate != null" >
                permitTransferLastDate = #{permitTransferLastDate,jdbcType=BIGINT},
            </if>
            <if test="onlineDate != null" >
                onlineDate = #{onlineDate,jdbcType=BIGINT},
            </if>
            <if test="createTime != null" >
                createTime = #{createTime,jdbcType=BIGINT},
            </if>
            <if test="lastModifyTime != null" >
                lastModifyTime = #{lastModifyTime,jdbcType=BIGINT},
            </if>
            <if test="use != null" >
                `use` = #{use,jdbcType=LONGVARCHAR},
            </if>
            <if test="proxyCustomNo != null" >
                proxyCustomNo = #{proxyCustomNo,jdbcType=VARCHAR},
            </if>
            <if test="realFinancedAmount != null" >
                realFinancedAmount = #{realFinancedAmount,jdbcType=DECIMAL},
            </if>
            <if test="publishWay != null" >
                publishWay = #{publishWay,jdbcType=VARCHAR},
            </if>
            <if test="floatingrate != null" >
                floatingrate = #{floatingrate,jdbcType=DECIMAL},
            </if>
            <if test="bidScene != null" >
                bidScene = #{bidScene,jdbcType=VARCHAR},
            </if>
            <if test="maxBuyShare != null" >
                maxBuyShare = #{maxBuyShare,jdbcType=INTEGER},
            </if>
            <if test="lockState != null" >
                lockState = #{lockState,jdbcType=VARCHAR},
            </if>
            <if test="advanceRepay != null" >
                advanceRepay = #{advanceRepay,jdbcType=VARCHAR},
            </if>
            <if test="penaltyType != null" >
                penaltyType = #{penaltyType,jdbcType=VARCHAR},
            </if>
            <if test="advanceRepayTime != null" >
                advanceRepayTime = #{advanceRepayTime,jdbcType=BIGINT},
            </if>
            <if test="transferStatus != null" >
                transferStatus = #{transferStatus,jdbcType=VARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=BIGINT}
    </update>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
        delete from zx_standard_informations
        where id = #{id,jdbcType=BIGINT}
    </delete>
    
    <select id="getBidByConditions" parameterType="hashmap" resultMap="BaseResultMap">
		select 
			<include refid="Base_Column_List" />
		from 
			zx_standard_informations
		where 1=1
			<if test="bidStatus != null"> AND bidStatus = #{bidStatus,jdbcType=VARCHAR,javaType=com.hgxh.trade.enums.BidStatusEnum}</if>
			<if test="endDate != null"> AND endDate = #{endDate,jdbcType=BIGINT}</if>
			<if test="openEndDate != null"> AND openEndDate = #{openEndDate,jdbcType=BIGINT}</if>
			<if test="bidNo != null"> AND bidNo = #{bidNo,jdbcType=VARCHAR}</if>
			<if test="publishWay != null"> AND publishWay = #{publishWay,jdbcType=VARCHAR}</if>
	</select>
	
	<select id="getOpenBids" parameterType="hashmap" resultMap="BaseResultMap">
		select 
			<include refid="Base_Column_List" />
		from 
			zx_standard_informations
		where bidStatus='PUBLISHED' OR bidStatus='SUCCEED'
	</select>
	
	<select id="getFinishedBids" parameterType="hashmap" resultType="String">
		select 
			sum(financedAmount)
		from 
			zx_standard_informations
		where bidStatus='FINISHED'
		and bidType!='GREEN'
	</select>
	
	<select id="getBidByBidNo" parameterType="hashmap" resultMap="BaseResultMap">
		select 
			<include refid="Base_Column_List" />
		from 
			zx_standard_informations
		where 
			bidNo = #{bidNo,jdbcType=VARCHAR}
	</select>

</mapper>