<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hgxh.trade.dao.UserDao" >
    <resultMap id="BaseResultMap" type="com.hgxh.trade.entity.UserEntity" >
        <id column="id" property="id" jdbcType="BIGINT" />
        <result column="userNo" property="userNo" jdbcType="VARCHAR" />
        <result column="userNickName" property="userNickName" jdbcType="VARCHAR" />
        <result column="userPass" property="userPass" jdbcType="VARCHAR" />
        <result column="payPassStatus" property="payPassStatus" jdbcType="VARCHAR" javaType="com.hgxh.trade.enums.PayPassStatusEnum" />
        <result column="nicknameStatus" property="nicknameStatus" jdbcType="VARCHAR" />
        <result column="userStatus" property="userStatus" jdbcType="VARCHAR" javaType="com.hgxh.trade.enums.UserStatusEnum" />
        <result column="userType" property="userType" jdbcType="VARCHAR" javaType="com.hgxh.trade.enums.CustomTypeEnum" />
        <result column="userSource" property="userSource" jdbcType="VARCHAR" />
        <result column="authStatus" property="authStatus" jdbcType="VARCHAR" javaType="com.hgxh.trade.enums.AuthStatusEnum" />
        <result column="bankBindStatus" property="bankBindStatus" jdbcType="VARCHAR" javaType="com.hgxh.trade.enums.BankBindStatusEnum" />
        <result column="bindedBankCardNum" property="bindedBankCardNum" jdbcType="INTEGER" />
        <result column="mobile" property="mobile" jdbcType="VARCHAR" />
        <result column="platformMerNo" property="platformMerNo" jdbcType="VARCHAR" />
        <result column="platformUserId" property="platformUserId" jdbcType="VARCHAR" />
        <result column="platformCustomNo" property="platformCustomNo" jdbcType="VARCHAR" />
        <result column="userRegTime" property="userRegTime" jdbcType="BIGINT" />
        <result column="lastModifyTime" property="lastModifyTime" jdbcType="BIGINT" />
        <result column="icardpayuser" property="icardpayuser" jdbcType="VARCHAR" />
        <result column="payPass" property="payPass" jdbcType="VARCHAR" />
        <result column="userip" property="userip" jdbcType="VARCHAR" />
        <result column="devId" property="devId" jdbcType="VARCHAR" />
        <result column="osType" property="osType" jdbcType="VARCHAR" />
        <result column="accountNo" property="accountNo" jdbcType="VARCHAR" />
    </resultMap>

    <sql id="Base_Column_List" >
        id, userNo, userNickName, userPass, payPassStatus, nicknameStatus, userStatus, userType, 
        userSource, authStatus, bankBindStatus, bindedBankCardNum, mobile, platformMerNo, 
        platformUserId, platformCustomNo, userRegTime, lastModifyTime, icardpayuser, payPass, 
        userip, devId, osType, accountNo
    </sql>

    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
        select 
        <include refid="Base_Column_List" />
        from zx_users
        where id = #{id,jdbcType=BIGINT}
    </select>

    <insert id="insertSelective" parameterType="com.hgxh.trade.entity.UserEntity" >
        insert into zx_users
        <trim prefix="(" suffix=")" suffixOverrides="," >
            <if test="id != null" >
                id,
            </if>
            <if test="userNo != null" >
                userNo,
            </if>
            <if test="userNickName != null" >
                userNickName,
            </if>
            <if test="userPass != null" >
                userPass,
            </if>
            <if test="payPassStatus != null" >
                payPassStatus,
            </if>
            <if test="nicknameStatus != null" >
                nicknameStatus,
            </if>
            <if test="userStatus != null" >
                userStatus,
            </if>
            <if test="userType != null" >
                userType,
            </if>
            <if test="userSource != null" >
                userSource,
            </if>
            <if test="authStatus != null" >
                authStatus,
            </if>
            <if test="bankBindStatus != null" >
                bankBindStatus,
            </if>
            <if test="bindedBankCardNum != null" >
                bindedBankCardNum,
            </if>
            <if test="mobile != null" >
                mobile,
            </if>
            <if test="platformMerNo != null" >
                platformMerNo,
            </if>
            <if test="platformUserId != null" >
                platformUserId,
            </if>
            <if test="platformCustomNo != null" >
                platformCustomNo,
            </if>
            <if test="userRegTime != null" >
                userRegTime,
            </if>
            <if test="lastModifyTime != null" >
                lastModifyTime,
            </if>
            <if test="icardpayuser != null" >
                icardpayuser,
            </if>
            <if test="payPass != null" >
                payPass,
            </if>
            <if test="userip != null" >
                userip,
            </if>
            <if test="devId != null" >
                devId,
            </if>
            <if test="osType != null" >
                osType,
            </if>
            <if test="accountNo != null" >
                accountNo,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides="," >
            <if test="id != null" >
                #{id,jdbcType=BIGINT},
            </if>
            <if test="userNo != null" >
                #{userNo,jdbcType=VARCHAR},
            </if>
            <if test="userNickName != null" >
                #{userNickName,jdbcType=VARCHAR},
            </if>
            <if test="userPass != null" >
                #{userPass,jdbcType=VARCHAR},
            </if>
            <if test="payPassStatus != null" >
                #{payPassStatus,jdbcType=VARCHAR},
            </if>
            <if test="nicknameStatus != null" >
                #{nicknameStatus,jdbcType=VARCHAR},
            </if>
            <if test="userStatus != null" >
                #{userStatus,jdbcType=VARCHAR},
            </if>
            <if test="userType != null" >
                #{userType,jdbcType=VARCHAR},
            </if>
            <if test="userSource != null" >
                #{userSource,jdbcType=VARCHAR},
            </if>
            <if test="authStatus != null" >
                #{authStatus,jdbcType=VARCHAR},
            </if>
            <if test="bankBindStatus != null" >
                #{bankBindStatus,jdbcType=VARCHAR},
            </if>
            <if test="bindedBankCardNum != null" >
                #{bindedBankCardNum,jdbcType=INTEGER},
            </if>
            <if test="mobile != null" >
                #{mobile,jdbcType=VARCHAR},
            </if>
            <if test="platformMerNo != null" >
                #{platformMerNo,jdbcType=VARCHAR},
            </if>
            <if test="platformUserId != null" >
                #{platformUserId,jdbcType=VARCHAR},
            </if>
            <if test="platformCustomNo != null" >
                #{platformCustomNo,jdbcType=VARCHAR},
            </if>
            <if test="userRegTime != null" >
                #{userRegTime,jdbcType=BIGINT},
            </if>
            <if test="lastModifyTime != null" >
                #{lastModifyTime,jdbcType=BIGINT},
            </if>
            <if test="icardpayuser != null" >
                #{icardpayuser,jdbcType=VARCHAR},
            </if>
            <if test="payPass != null" >
                #{payPass,jdbcType=VARCHAR},
            </if>
            <if test="userip != null" >
                #{userip,jdbcType=VARCHAR},
            </if>
            <if test="devId != null" >
                #{devId,jdbcType=VARCHAR},
            </if>
            <if test="osType != null" >
                #{osType,jdbcType=VARCHAR},
            </if>
            <if test="accountNo != null" >
                #{accountNo,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>

    <update id="updateByPrimaryKeySelective" parameterType="com.hgxh.trade.entity.UserEntity" >
        update zx_users
        <set >
            <if test="userNo != null" >
                userNo = #{userNo,jdbcType=VARCHAR},
            </if>
            <if test="userNickName != null" >
                userNickName = #{userNickName,jdbcType=VARCHAR},
            </if>
            <if test="userPass != null" >
                userPass = #{userPass,jdbcType=VARCHAR},
            </if>
            <if test="payPassStatus != null" >
                payPassStatus = #{payPassStatus,jdbcType=VARCHAR},
            </if>
            <if test="nicknameStatus != null" >
                nicknameStatus = #{nicknameStatus,jdbcType=VARCHAR},
            </if>
            <if test="userStatus != null" >
                userStatus = #{userStatus,jdbcType=VARCHAR},
            </if>
            <if test="userType != null" >
                userType = #{userType,jdbcType=VARCHAR},
            </if>
            <if test="userSource != null" >
                userSource = #{userSource,jdbcType=VARCHAR},
            </if>
            <if test="authStatus != null" >
                authStatus = #{authStatus,jdbcType=VARCHAR},
            </if>
            <if test="bankBindStatus != null" >
                bankBindStatus = #{bankBindStatus,jdbcType=VARCHAR},
            </if>
            <if test="bindedBankCardNum != null" >
                bindedBankCardNum = #{bindedBankCardNum,jdbcType=INTEGER},
            </if>
            <if test="mobile != null" >
                mobile = #{mobile,jdbcType=VARCHAR},
            </if>
            <if test="platformMerNo != null" >
                platformMerNo = #{platformMerNo,jdbcType=VARCHAR},
            </if>
            <if test="platformUserId != null" >
                platformUserId = #{platformUserId,jdbcType=VARCHAR},
            </if>
            <if test="platformCustomNo != null" >
                platformCustomNo = #{platformCustomNo,jdbcType=VARCHAR},
            </if>
            <if test="userRegTime != null" >
                userRegTime = #{userRegTime,jdbcType=BIGINT},
            </if>
            <if test="lastModifyTime != null" >
                lastModifyTime = #{lastModifyTime,jdbcType=BIGINT},
            </if>
            <if test="icardpayuser != null" >
                icardpayuser = #{icardpayuser,jdbcType=VARCHAR},
            </if>
            <if test="payPass != null" >
                payPass = #{payPass,jdbcType=VARCHAR},
            </if>
            <if test="userip != null" >
                userip = #{userip,jdbcType=VARCHAR},
            </if>
            <if test="devId != null" >
                devId = #{devId,jdbcType=VARCHAR},
            </if>
            <if test="osType != null" >
                osType = #{osType,jdbcType=VARCHAR},
            </if>
            <if test="accountNo != null" >
                accountNo = #{accountNo,jdbcType=VARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=BIGINT}
    </update>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
        delete from zx_users
        where id = #{id,jdbcType=BIGINT}
    </delete>
    
    <select id="getUserByUserId" parameterType="java.lang.String" resultMap="BaseResultMap">
		select 
			<include refid="Base_Column_List" />
		from 
			zx_users
		where 
			id = #{userId,jdbcType=VARCHAR} 
	</select>

</mapper>